<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}">
    <input th:field="*{username}" type="text" id="username">
    <br>
    <input th:field="*{password}" type="text" id="password">
    <br>
    <label for="roles">Roles</label>
    <select id="roles" multiple="multiple" th:field="*{roles}">
        <option th:each="role : ${roleList}" th:value="${role.id}" th:text="${role.role}"></option>
    </select>
    <hr>
    <input type="submit" value="Update user">
</form>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Logout">
</form>
</body>
</html>